* {
  margin: 0px;
  padding: 0px;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#nav {
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
.main-container {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

  padding: 20px;
  display: flex;
  gap: 200px;
}
.project-create-form {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  padding: 100px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
  border-radius: 50px;
}

#form-project-name {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  box-shadow: 2px 2px 2px #42275a;
  background-color: white;
  color: white;
}
#form-project-description {
  width: 300px;
  height: 100px;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  box-shadow: 2px 2px 2px #42275a;
  color: white;
}
#form-project-author {
  background-color: white;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  box-shadow: 2px 2px 2px #543272;
  color: white;
}
::placeholder {
  color: white;
}
#create-project-btn {
  width: fit-content;

  margin-left: 80px;
  background-color: white;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid rgb(158, 153, 153);
  color: white;
}
.project-name-container {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  padding: 100px;
  display: flex;
  min-width: 460px;
  max-width: 600px;
  max-height: 500px;
  overflow: scroll;

  flex-direction: column;
  gap: 40px;
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
  border-radius: 50px;
}
::-webkit-scrollbar {
  display: none;
}
#list-heading {
  width: fit-content;
  margin-left: 140px;
  padding: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
}
#project-name {
  width: 400px;
  padding: 20px;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;

  font-size: larger;
  font-weight: 700;
}
#link-to-open {
  width: fit-content;
  background-color: white;
  padding: 10px;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid rgb(158, 153, 153);
  color: white;
  text-decoration: none;
  background-color: white;
}
#link-to-delete {
  width: fit-content;

  background-color: white;
  padding: 10px;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid rgb(158, 153, 153);
  color: white;
  text-decoration: none;
}
