/* Global styles */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #e0e0e0;
}

/* Navigation */
nav {
  width: 100%;
  height: 80px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #444;
}

#home-link {
  background-color: #69b578;
}

#create-issue {
  background-color: #5185cb;
}

/* Heading */
#heading {
  color: white;
  background-color: #222;
  text-align: center;
  font-size: 40px;
  padding: 30px;
  margin: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

/* New Issue Form */
#new-issue-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

#label {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

#issueinput {
  padding: 15px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

#submit-btn {
  background-color: #69b578;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

#submit-btn:hover {
  transform: scale(1.1);
}
